.animals{
    position: absolute;
    width: 100%;
    transform: translate(-50%, -50%);
}

.animal{
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
}

.animal:hover .animal-info{
  visibility: visible;
  opacity: 1;
}

.animals:hover .animal-info{
  visibility: visible;
  opacity: 1;
}

.animal img{
  width: 200px;
  height: auto;
}

.animal-info{
  background-color: rgb(0, 135, 177);
  color: white;

  border-radius: 15px;
  margin-top: 10px;
  font-size: 15px;
  width: 300px;
  height: 100% auto;
  padding: 10px;
  font-weight: bold;
  
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

.animal .whaleshark{
  width: 100%;
  height: 300px;
}

.animal .submarine{
  width: 100%;
  height: 500px;
}

.animal .lanternfish{
  width: 100px;
  height: 100%;
}

.animal .tuna{
  width: 250px;
  height: 100%;
}
